<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout}"
>
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css"> </th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script>
        function goWrite() {
            location.href = "/boards/write";
        }
    </script>
</th:block>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col" hidden>순번</th>
                    <th scope="col">제목</th>
                    <th scope="col">글쓴이</th>
                    <th scope="col">추천 수</th>
                    <th scope="col">조회 수</th>
                    <th scope="col">날짜</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row" hidden>1</th>
                    <td>C언어 커리큘럼은 어떻게 되나요?</td>
                    <td>해리포터</td>
                    <td>3</td>
                    <td>29</td>
                    <td>2 시간 전</td>
                </tr>
                <tr>
                    <th scope="row" hidden>2</th>
                    <td>Eclipse vs Intellij idea</td>
                    <td>개발초보</td>
                    <td>5</td>
                    <td>54</td>
                    <td>3 일 전</td>
                </tr>
                <tr>
                    <th scope="row" hidden>3</th>
                    <td>공지사항(필독)</td>
                    <td>askePhoenix</td>
                    <td>33</td>
                    <td>333</td>
                    <td>2021.09.15</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col">
                <div class="col-md-8">
                    <nav aria-label="Page navigation example" style="display: inline-block">
                        <ul class="pagination" style="margin: 0">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-6 col-md-4 align-self-center">
                    <button type="button" class="btn btn-dark" style="display: inline-block"
                            onclick="goWrite()">글 작성하기
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>