<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="~{layouts/layout}"
>
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css"> </th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script"> </th:block>
<!-- Begin page content -->
<main layout:fragment="content" role="main" class="container">
    <h1 class="mt-5">회원 전용 페이지</h1>
    닉네임 : <span th:text="${nick_name}" class="read"></span> <br>
    ID : <span sec:authentication="name" class="read"></span> <br>
    <!--소유 권한 : <span sec:authentication="authorities" class="read"></span> <br>-->

    <form id="logout" th:action="@{/logout}" method="POST">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input type="submit" value="로그아웃"/>
    </form>
</main>
</html>